<span class="discover">Discover</span>

<span class="how-it-works">
  How It Works: Subscribe and Receive Your Surprise Box
</span>

<span class="how-it-works__desc">
  Subscribe to our surprise subscription box and give your child the gift of learning. Each month, we curate a box
  filled with educational materials tailored to your child's age and interests.
</span>

<div class="steps">
  <div class="step">
    <img src="assets/discover/subscribe.svg" alt="Subscribe">

    <span class="title">Step 1: Subscribe</span>

    <span class="description">
      Select a subscription plan that suits your child's learning needs and preferences.
    </span>
  </div>

  <div class="step">
    <img src="assets/discover/customize.svg" alt="Customize">

    <span class="title">Step 2: Personalise Your Box</span>

    <span class="description">
      Tell us about your child's age, interests, and learning goals, and we'll customize their
      surprise box accordingly.
    </span>
  </div>

  <div class="step">
    <img src="assets/discover/surprise.svg" alt="Surprise">

    <span class="title">Step 3: Receive Your Surprise Box</span>

    <span class="description">
      Sit back and relax as your child eagerly awaits the arrival of their monthly surprise box
      filled with engaging learning materials.
    </span>
  </div>
</div>

<home-subscribe-button></home-subscribe-button>