:host {
  display: block;
  padding: 48px 20px;
  background: #fff;
  color: #000;
  margin-top: -1px;

  .logo {
    margin-bottom: 32px;
  }

  .mobile-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 48px;

    .link {
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
    }
  }

  hr {
    background-color: #000;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0 32px;

    .link {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      text-decoration: none;
      color: #000;
      text-decoration: underline;
    }
  }

  .copyrights {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}

@media screen and (min-width: 768px) {
  :host {
    footer-subscribe-form, .mobile-links, .logo {
      display: none;
    }

    .links-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .links {
        flex-direction: row;
        gap: 24px;
      }
    }
  }
}
