<img class="logo" src="assets/logo-dark.svg" alt="Logo" height="27px" width="63px">

<div class="mobile-links">
  <div class="link">Link One</div>
  <div class="link">Link Two</div>
  <div class="link">Link Three</div>
  <div class="link">Link Four</div>
  <div class="link">Link Five</div>
</div>

<footer-subscribe-form></footer-subscribe-form>

<hr>

<div class="links-wrapper">
  <div class="links">
    <a class="link">Privacy Policy</a>
    <a class="link">Terms of Service</a>
    <a class="link">Cookies Settings</a>
  </div>

  <p class="copyrights">© 2023 Relume. All rights reserved.</p>
</div>