<h2 class="title">Summary</h2>

<div class="description">
  of your Monthly Surprise Box
</div>

<div class="invoice">
  <div class="item-name">
    <span>Mystery Box</span>
    <span> <span class="currency">SAR</span> 456 </span>
  </div>

  <div class="item-count">
    <span>X 1</span>
    <span>Monthly</span>
  </div>
</div>

<div>
  <div class="subtotal">
    <span class="name">Subtotal</span>

    <span class="price">
      <span class="currency">SAR </span>
      <span class="amount">456</span>
    </span>
  </div>

  <div class="subtotal">
    <span class="name">Shipping</span>
    <span class="free">Free</span>
  </div>

  <div class="subtotal">
    <span class="name">Taxes</span>

    <span class="price">
      <span class="currency">SAR </span>
      <span class="amount">4.0</span>
    </span>
  </div>
</div>

<hr>

<div class="total">
  <span class="name">Total</span>

  <span class="price">
    <span class="currency">SAR </span>
    <span class="amount">456</span>
  </span>
</div>

<ion-button expand="block">
  Continue to payment
</ion-button>